.salonHome {
    .btnCon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -20px;

        .bt1 {
            background-color: #F0F0F0;
            color: #88878F;
        }

        .bt2 {
            background-color: #28ACEA;
            color: white;
            margin-left: 30px;
        }
    }

    .mainData {
        width: 81.7%;
        margin: auto;
        margin-top: 50px;

        .salonData {
            #banner {
                width: 100%;
                height: auto;
            }

            h5 {
                margin-top: 30px;
                margin-left: 12px;
            }

            p {
                width: 70%;
                font-size: 12px;
                margin-left: 12px;
            }
            .proSection{
                width: 100%;
                margin-top: 20px;
                position: relative;

                img{
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                }
                section{
                    position: absolute;
                    top:10px;
                    left: 70px;
                    font-weight: bold;
                    font-size: 16px;
                }
                p{
                    position: absolute;
                    top:30px;
                    left: 70px;
                    margin-left: 0px;
                    color: gray;
                }
            }
        }

    }
}