.dates{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

  .dateData{
      width: 150px ;
      height: 30px;   
      
      .mainDate{
          text-align: center;
          width: 200px;
          line-height: 40px;
          background-color: black;
          border: none;
          border-radius: 5px;
          box-shadow: 1px 1px 10px rgb(174, 178, 183);
          color: white;
      }
  }
}

.bookingCon{
    width: 90%;
    margin: auto;
    padding-left: 70px;
}


@media (max-width:600px) {
    .bookingCon{
        padding-left: 0px;
        width: 100%;
        display: grid;
        place-content: center;
    }
}