.bookingCon{
    width: 90%;
    margin: auto;
    padding-left: 70px;
}

@media (max-width:600px) {
    .bookingCon{
        padding-left: 0px;
        width: 100%;
        display: grid;
        place-content: center;
    }
}