.proCon {
    width: 80%;
    margin: auto;
    display: grid;
    place-content: center;
    margin-top: 50px;
    height: 250px;
    border-radius: 10px;
    background-image: url("../../assets/bg.png");
    background-position: center;
    background-size: cover;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

@media (max-width:500px) {
    .proCon {
        width: 95%;
        height: 200px;
    }
}

.proData {
    width: 80%;
    margin: auto;
    padding-top: 20px;

    .data {

        .p {
            display: inline-block;
            margin-left: 10px;
            font-weight: bold;

            #id {
                color: gray;
                font-weight: 500;
            }

            #change {
                color: red;
                font-weight: 500;
                margin-top: 2px;
                margin-left: -2px;
            }
        }

        img {
            width: 80px;
            height: 80px;
            margin-top: -55px;
        }
    }

    .edit {

        .btn {
            float: right;
            margin-right: 10px;
        }
    }

    p {
        margin: -3px;
    }
}

.conditions {

    margin-top: 70px;
    width: 100%;

    .row {
        width: 85%;
        margin: auto;
    }

    .boxCon {

        display: grid;
        place-content: center;

        .box {
            width: 280px;
            height: 100px;
            border-radius: 5px;
            box-shadow: 1px 1px 10px rgb(192, 203, 251);
            margin-top: 20px;

            img {
                width: 40px;
                height: 40px;
                margin-top: 30px;
                float: left;
                margin-left: 50px;
            }

            p {
                display: inline-block;
                margin-top: 38px;
                margin-left: 10px;
            }
        }
    }
}

.bookdate {
    margin-top: 70px;
    width: 100%;

    .row {
        width: 85%;
        margin: auto;
    }

    .boxCon {

        display: grid;
        place-content: center;

        .box1, .box2, .box3 {
            width: 280px;
            height: 60px;
        }
        .box1{
            font-weight: bold;
            text-align: center;
        }
        .box2{
            position: relative;
            div{
                background-color: #F0F0F0;
                height: 40px;
                width: 150px;
                padding: 3px;
                border-radius: 5px;

                select{
                   height: 34px;
                   background-color:  #F0F0F0;
                   border: none;
                }
            }
            #status{
                position: absolute;
                top:0px;
                right: 0px;
                width: 80px;
                height: 40px;
                border-radius: 5px;
                background-color:  #F0F0F0;
                border: none;
            }
        }

        .box3{
            position: relative;
            #sea{
                width: 280px;
                text-align: center;
                background-color: #F0F0F0;
            }
            .btn{
              position: absolute;
              top: 1px;
              right: 5px;
              width: 35px;
              height: 35px;
              border-radius: 50%;
              display: grid;
              place-content: center;
              font-size: small;
            }
        }
    }


}




.fulldata {
    width: 78%;
    margin: auto;
    margin-top: 50px;

    th,
    td {
        background-color: #F0F0F0;
        border: 1px solid rgb(224, 223, 223);
        font-weight: bold;
        padding-left: 20px;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    td {
        padding-left: 20px;
        background-color: #fcfefe;
        color: gray;
    }
}


@media (max-width:768px) {
    .proData {
        .edit {

            .btn {
                float: none;
                margin-top: 30px;
            }
        }
    }

    .fulldata {
        width: 700px;
    }
}