*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body #bgmig{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    object-fit:cover;
  }
  
  #black, #navbarDropdown{
      color: black;
      font-family: 'Jost', sans-serif;
  }
  .navbar-brand
  {
    margin-left: 10px;
    font-weight: 700;
    font-size: 24px;
  }
  #college{
      
      color: rgb(49, 160, 114);
  }
  #help{
      color: rgb(78, 95, 248);
  }
  .nav-item
  {
      margin: auto;
      padding-right:20px ;
  }
  .nav-link:hover
  {
   text-shadow: 5px 2px 20px rgb(0, 30, 199);
   font-size: 17px;
  }
  
  .navbar-dark .navbar-toggler-icon{
      background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 20, 300, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  .dropdown-menu{
      background-color: rgb(220, 223, 250);
      color: black;
  }
  
  #blue{
      color: rgb(78, 95, 248);
  }
  #home,#contact,#about,#contribute{
    color: black;
  }
  #college{
      
    color: rgb(49, 160, 114);
  }
  #help{
    color: rgb(78, 95, 248);
  }
  #blue{
    color: rgb(78, 95, 248);
  }
  